.browser-mockup {
    position: relative;
    box-sizing: border-box;
    border-top: 2em solid rgba(230, 230, 230, .7);
    border-radius: 3px 3px 0 0;
    box-shadow: 0 .1em .5em 0 rgba(0, 0, 0, .28);

    &::before {
        display: block;
        position: absolute;
        top: -1.25em;
        left: 1em;
        box-sizing: border-box;
        width: .5em;
        height: .5em;
        border-radius: 50%;
        background-color: #f44;
        box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
        content: " ";
    }

    &::after {
        display: block;
        position: absolute;
        top: -1.6em;
        left: 5.5em;
        box-sizing: border-box;
        width: calc(100% - 6em);
        height: 1.2em;
        border-radius: 2px;
        background-color: white;
        content: " ";
    }
}